@font-face {
    font-family: 'gilroy';
    src: url(font/Gilroy-Regular.ttf) format('truetype');        
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'gilroy', sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1695048133021-be2def43f3b2?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
}

#main #nav{
    width: 100%;
    height: 50px;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    gap: 30px;
    

}

#nav h4{
    font-size: 13px;
    font-weight: 400;

}

#main #content{
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;

}

#content h1{
    font-size: 51px;
    font-weight: 600;
}

#content h4{
    font-size: 28px;
    font-weight: 400;
}

#buttons{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

button{
    margin-top: 15px;
    padding: 10px 20px;
    border: 1px solid #0076DF;
    font-size: 14px;
    background-color: #0076DF;
    border-radius: 50px;
    align-items: center;
}

button:nth-child(2){
    background-color: #fff;
    color: #0076DF;
}

button:nth-child(1){
    color: #000
}

button:hover{
    cursor: pointer;
    opacity: 0.8;
    transition: 0.3s;
    background-color: #fff;
    color: #0076DF;
}

