@font-face {
    font-family: 'gilroy';
    src: url(font/Gilroy-Regular.ttf) format('truetype');        
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'gilroy', sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: #000

}

#main #nav{
    width: 100%;
    height: 50px;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    gap: 20px;
    

}

#nav h4{
    font-size: 14px;
    font-weight: 400;

}

